<div class="input-group mb3">
    <input type="text"
        class="form-control form-control-lg"
        placeholder="Type Inventory name here to search" />
    <button type="button" class="input-group-text btn-primary">View</button>
</div>


@code {

}
